:root { 
  --primary: #54E6Af;
  --lightgray: #C2cBe5;
  --mediumgray: #5A668A;
  --darkgray: #2c344b;
  --deepblue: #121725; 
}


body { 
  padding: 0;
  margin: 0;
  background-color: var(--deepblue);
}

main { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>h1 { 
  color: var(--primary);
}

main>h2 { 
  color: white;
}

main>p {
  text-align: center;
  color: var(--lightgray);
  margin: auto;
  width: calc(100% - 24px);
}

input { 
  margin: auto; 
  width: calc(100% - 24px);
  background-color: var(--darkgray);
  border: none;
  height: 46px;
  border-radius: 2em;

}

input::placeholder { 
  position: relative;
  left: 32px; 
  color: var(--lightgray);
}

button { 
    margin: auto; 
  width: calc(100% - 24px);
  background-color: var(--primary);
  color: var(--darkgray);
    height: 46px;
  border-radius: 2em;

}