@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --primary: #54E6Af;
  --lightgray: #C2cBe5;
  --mediumgray: #5A668A;
  --darkgray: #2c344b;
  --deepblue: #121725; 
}

* { 
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Red Hat Display', sans-serif;; 
}
body { 
  padding: 0;
  margin: 0;
  background-color: var(--deepblue);
 
}

main { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  
  
}

main::before {  
  position: absolute;
  z-index: -1;
  content: " ";
  width: 100%;
  height: 100%;
  background-image: url(assets/desktop/image-host.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  opacity: 8%;
  top:0px;
  left:0px;
}




main>img { 
  padding: 50px;
}

main>h1 { 
  font-weight: 100;
  text-align: center;
  margin: 0;
  width: 100%;
  color: var(--primary);
  margin-bottom: 0;
  line-height: 38px;
  font-size: 27px;
}

main>h1>span { 
  font-weight: 100;
  margin-top: 4px;
  color: white;
}

main>p {
  font-weight: 400;
  text-align: center;
  color: var(--mediumgray);
  margin: 1em 35px;
  width: calc(100% - 24px);
  line-height: 25px;
}

input { 
  margin: auto; 
  margin-bottom: 16px;
  width: 90%;
  padding: 0 0 0 2rem;
  background-color: var(--darkgray);
  border: none;
  height: 46px;
  border-radius: 2em;
  color: white; 


}

input::placeholder { 
  font-weight: 300;
  position: relative;
  /* left: 32px;  */
  color: var(--lightgray);
}

input:focus { 
  color: white;
}

button { 
  font-weight: 300;
    margin: auto; 
  width: 100%;
  background-color: var(--primary);
  color: var(--darkgray);
    height: 46px;
  border-radius: 2em;

}

button:hover { 
  cursor: pointer;
  background-color: #B3FFE2;
}


form { 
   width: calc(100% - 32px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.form-error { 
  margin: 0px auto;
  width: calc(100% - 55px);
  color: #FB3E3E;
  font-size: 12px;


  padding-bottom: 2em;
 
}





/* //// Logo containers */
.logo-containers { 
  display: flex;
  margin: 24px 30px 48px 30px;
  justify-content: space-around;
  gap: 2em
}
 
.logos { 
  width: 52px;
  fill: #5A668A !important;
}

