@tailwind base;
@tailwind components;
@tailwind utilities;

:root { 
  --primary: #54E6Af;
  --lightgray: #C2cBe5;
  --mediumgray: #5A668A;
  --darkgray: #2c344b;
  --deepblue: #121725; 
}

* { 
  font-family: font-family: 'Plus Jakarta Sans', sans-serif;
  font-family: 'Red Hat Display', sans-serif;; 
}
body { 
  padding: 0;
  margin: 0;
  background-color: var(--deepblue);
}

main { 
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main>img { 
  padding: 50px;
}

main>h1 { 
  font-weight: 300;
  color: var(--primary);
  margin-bottom: 0;
}

main>h2 { 
  font-weight: 300;
  margin-top: 4px;
  color: white;
}

main>p {
  font-weight: 300;
  text-align: center;
  color: var(--lightgray);
  margin: 0 35px;
  width: calc(100% - 24px);
  line-height: 25px;
}

input { 
  margin: auto; 
  margin-bottom: 16px;
  width: calc(100% - 32px);
  background-color: var(--darkgray);
  border: none;
  height: 46px;
  border-radius: 2em;

}

input::placeholder { 
  font-weight: 300;
  position: relative;
  left: 32px; 
  color: var(--lightgray);
}

button { 
  font-weight: 300;
    margin: auto; 
  width: calc(100% - 32px);
  background-color: var(--primary);
  color: var(--darkgray);
    height: 46px;
  border-radius: 2em;

}




/* //// Logo containers */
.logo-containers { 
  display: flex;
  margin: 24px 30px 48px 30px;
  justify-content: space-around;
  gap: 2em
}
 
.logos { 
  width: 52px;
  fill: #5A668A !important;
}

